<div class="about-us">
  <%= link_to image_tag('/assets/mis.jpg'), root_path %>
  <h3>Brandon Langley</h3>
  <h4>writer / director / producer</h4>
  <br>
  <h3>Andrew T Mcgary</h3>
  <h4>cinematographer / editor</h4>
  <br>
  <h3>Nikolai Teague</h3>
  <h4>sound / audio design</h4>
  <div class="about-links">
    <%= link_to 'Watch', root_path %>
    <%= link_to 'Contact', contact_path %>
  </div>
</div>
