// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

body {
  background:black;
}

/* home */

.logo {
  float:right;
}

.logo ul li {
  list-style:none;
  text-align:right;
  margin-top:10px;
  margin-bottom:15px;
}

.logo ul li a{
  color:#FFF;
  background:rgba(255,255,255,0.2);
  padding:2px 15px;
  text-decoration:none;
  text-transform:uppercase;
  -webkit-transition:all 0.2s linear;
}

.logo ul li a:hover {
  background:rgba(255,255,255,0);
  color:rgba(255,255,0,0.69);
}

/* contact form */

.contact-overlay {
  background:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
}

.contact-form {
  padding-top:40px;
  width:542px;
  margin:0 auto;
}

.contact-form img {
  margin-left:145px;
}

.control-label {
  color:rgba(255,255,0,0.69);
  font-family:sans-serif;
  font-weight:bold;
  text-transform:uppercase;
}

 .reach-us-button {
    margin-left:325px;
    background:none;
    border:none;
    color:rgba(255,255,255,0.7);
    text-transform:uppercase;
    font-family:sans-serif;
    -webkit-transition:all 0.2s linear;
    &:hover {
    color:rgba(255,255,0,0.69);
    }
 }


 /* about us */

 .about-us {
  margin:0 auto;
  padding-top:50px;
  width:969px;
  text-align:center;
 }

.about-us h3 {
  text-transform:uppercase;
  color:#FFF;
  font-weight:bolder;
}

.about-us h4 {
  color:rgba(255,255,255,0.6);
  font-weight:lighter;
}
 

.about-links {
  margin:0 auto;
  padding-top:60px;
  width:150px;
}

.about-links a {
  text-decoration:none;
  text-transform:uppercase;
  color:rgba(255,255,255,0.5);
  -webkit-transition:all 0.2s linear;
}

.about-links a:hover {
  color:rgba(255,255,0,0.69);
}

.about-links a:first-child {
  float:left;
}
.about-links a:last-child {
  float:right;
}
